<ion-view view-title="search">

    <ion-content>


        <div class="grid">
            <ul class="profile" style="margin-left:5%">


                <li class="profile">

                    <a href="#"><img src="img/ben.png" width="200" height="200"></a>

                </li>

                <li class="profile" style="list-style-type: square";>

                    <a href="#"><img src="https://scontent.fqlf1-1.fna.fbcdn.net/v/t1.0-9/14600973_599027766972156_9211096916191667134_n.jpg?oh=c887c76c7c6378622a1d16b833252ab0&oe=59048923" width="200" height="200"></a>

                </li>

                <li class="profile" style="list-style-type: none;">

                    <a href="#"><img src="https://scontent.fqlf1-1.fna.fbcdn.net/v/t31.0-8/12377783_518085901733010_8236802654161157503_o.jpg?oh=58cf357e6231e3bc18b64782f53e81fd&oe=5902D455 " width="200" height="200"> </a>

                </li>


            </ul>
        </div>



</ion-content>

</ion-view>