<ion-view view-title="Instagram">

    <ion-content class="has-header">

        <div class="list card">

            <div class="item item-avatar">

                <img src="img/bogyu.jpg">

                <h2>Bogyu</h2>

            </div>

            <div class="item item-body">

                <img src="img/parent.png" style="width:100%" height="400">

                <p>
                    I love them, my parents.
                 </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>

                    <a href="#" class="subdued">5 Comments</a>

                </p>
                
            </div>

            <div class="item tabs tabs-icon-left">

                <a class="tab-item">
                    <i class="icon ion-heart"></i>
                </a>

                <a class="tab-item">
                    <i class="icon ion-chatbox"></i> 
                </a>

                <a class="tab-item">
                    <i class="icon ion-android-send"></i> 
                </a>

            </div>
            <p>4 minutes ago</p>
        </div>
        

        <div class="list card">

            <div class="item item-avatar">

                <img src="img/adam.jpg">

                <h2>LuisaBonita</h2>

            </div>

            <div class="item item-body">

                <img src="img/jh.jpg" style="width:100%" height="400">
                <p>
                    My handsome friend, 
                </p>
                <p>
                    <a class="subdued">204 Like</a>

                    <a class="subdued">41 Comments</a>

                </p>

            </div>

            <div class="item tabs tabs-icon-left">

                <a class="tab-item">
                    <i class="icon ion-heart"></i>
                </a>

                <a class="tab-item">
                    <i class="icon ion-chatbox"></i>
                </a>

                <a class="tab-item">
                    <i class="icon ion-android-send"></i>
                </a>

            </div>
            <p>3 hour ago</p>
        </div>
        

        <div class="list card">

            <div class="item item-avatar">

                <img src="img/ben.png">

                <h2>Hello_World</h2>

            </div>

            <div class="item item-body">

                <img src="img/jm.jpg" style="width:100%" height="400">

                <p>
                    My pretty friend,
                </p>
                <p>
                    <a class="subdued">152 Like</a>

                    <a class="subdued">21 Comments</a>

                </p>

            </div>

            <div class="item tabs tabs-icon-left">

                <a class="tab-item" >
                    <i class="icon ion-heart"></i>
                </a>

                <a class="tab-item" >
                    <i class="icon ion-chatbox"></i>
                </a>

                <a class="tab-item" >
                    <i class="icon ion-android-send"></i>
                </a>

            </div>
            <p>5 hour ago</p>
        </div>


    </ion-content>

</ion-view>